@import "tailwindcss";
*{
  font-family: Dm sans;
}
@theme {
  /* Background Layers */
  --color-bg: #ffffff;
  --color-bg-md: #f8fafc;
  --color-bg-sm: #f1f5f9;

  /* Text Layers */
  --color-txt: #0f172a;
  --color-txt-md: #334155;
  --color-txt-sm: #64748b;

  /* Inverted Colors */
  --color-inv: #0f172a;
  --color-inv-sm: #1e293b;
  --color-inv-txt: #ffffff;

  /* Accent */
  --color-acc: #3b82f6;
  --color-acc-txt: #ffffff;

  /* Border */
  --color-border: #e2e8f0;

  /* Status */
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-danger: #ef4444;
  --color-info: #06b6d4;
}

:root {
  /* Background Layers */
  --color-bg: #f5fbff;
  --color-bg-md: #e0ecf4;
  --color-bg-sm: #c8d2dd;

  /* Text Layers */
  --color-txt: #0c101b;
  --color-txt-md: #344257;
  --color-txt-sm: #5e728e;

  /* Inverted Colors */
  --color-inv: #0f172a;
  --color-inv-sm: #1e293b;
  --color-inv-txt: #ffffff;

  /* Accent */
  --color-acc: #c3f369;
  --color-acc-txt: #1b6454;

  /* Border */
  --color-border: #e2e8f0;

  /* Status */
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-danger: #ef4444;
  --color-info: #06b6d4;
}
.dark {
  /* Background Layers */
  --color-bg: #000405;
  --color-bg-md: #04141c;
  --color-bg-sm: #142126;

  /* Text Layers */
  --color-txt: #dce3ec;
  --color-txt-md: #b3c3c9;
  --color-txt-sm: #8da1ac;

  /* Inverted Colors */
  --color-inv: #ecf5f9;
  --color-inv-sm: #c9dfe4;
  --color-inv-txt: #0f172a;

  /* Accent */
  --color-acc: #d1ff7b;
  --color-acc-txt: #1b6454;

  /* Border */
  --color-border: #475569;

  /* Status */
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-danger: #f87171;
  --color-info: #22d3ee;
}

@layer base {
  h1 {
    @apply font-semibold text-3xl text-txt flex items-center gap-2;
  }
  h2 {
    @apply font-semibold text-2xl text-txt flex items-center gap-2;
  }
  h3 {
    @apply font-semibold text-xl text-txt flex items-center gap-2;
  }
  h4 {
    @apply font-semibold text-lg text-txt flex items-center gap-2;
  }
  h5 {
    @apply font-semibold  text-txt flex items-center gap-2;
  }
  button {
    @apply cursor-pointer px-4  py-[5.5px] text-[13.6px]  border-2 border-bg-sm/40  font-medium bg-bg-md text-txt flex items-center gap-2 active:scale-97 transition-all ease-in-out text-txt rounded-2xl hover:scale-102;
  }
  p {
    @apply  text-txt-sm
  }
  input {
    @apply bg-bg-md/80  ring-0 focus:outline-none focus:ring-0 py-[6px] text-[14.4px]  font-semibold text-txt-sm/80   border-2 border-bg-sm/60  px-4 rounded-2xl
  }
  span {
    @apply text-txt text-[14.9px] font-medium 
  }
  
}

@layer components {
  .btn-lg {
    @apply px-4.5 rounded-[22px] py-2 text-[15px] ;
  }
  .input-lg {
    @apply py-2.5 rounded-[19px]   w-full   text-[15px]  
  }
  .btn {
    @apply px-3 py-1.5 ;
  }
  .btn-icon {
    @apply flex items-center text-sm rounded-xl  justify-center p-1.5 rounded-full  border-2 border-bg-md ;
  }
  .btn-sm {
    @apply px-2 py-0.5 text-sm ;
  } 
  .icon-lg {
    @apply size-5 
  }
  .icon {
    @apply size-5 text-txt 
  }
  .icon-sm {
    @apply size-4
  }
  .card-col-c {
    @apply flex flex-col border-2 border-bg-md p-7 rounded-3xl items-center justify-center gap-3 
  }
  .btn-acc {
    @apply bg-acc border-none text-acc-txt
  }
  .inv {
    @apply bg-inv border-none text-inv-txt
  }
  .btn-warning {
    @apply bg-danger  text-white border-none 
  }
  .btn-success {
    @apply bg-green-200  text-green-700 border-none
  }
  .btn-outline {
    @apply bg-transparent border-2 border-bg-sm/70
  }
  .btn-inv {
    @apply bg-inv border-none text-inv-txt 
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee 25s linear infinite;

}

.marquee:hover {
  animation-play-state: paused;
}